* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    font-family: 'Alice', sans-serif;
    line-height: 1;
    color: #573a37;
}

body {
    background-image: url('assets/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#page {
    box-sizing: content-box;
    width: 800px;
    padding: 10px;
    background-color: #f0e8c2;
    border-radius: 20px;
    margin: 10px auto;
}

#page img{
    margin-left: 25px;
    margin-top: 20px;
}

main {
    padding: 40px;
}


#ints{
    line-height: 1.5;
    margin-bottom: 30px;
}

#about p {
    margin-top: 10px;

}

#about h1 {
    font-weight: 400;
    font-size: 40px;
}

#ingredients h2 {
    font-weight: 400;
    font-size: 25px;
}

h1 {
    line-height: 1.2;
    font-size: 35px;
}

h2 {
    font-size: 20px;
}

h1,
h2 {
    margin-bottom: 10px;
    color: #000;
}

ul {
    padding-left: 25px;
}

li {
    margin-top: 8px;
}

footer {
    color: #f0e8c2;
    text-align: center;
    padding-bottom: 10px;
}

footer img {
    vertical-align: top;
    margin-top: 0px;
    position: relative;
}

#preparation {
    margin-top: 30px;
}

#preparation p {
    line-height: 1.5;
}

#preparation h2 {
    font-weight: 400;
    font-size: 25px;
}
